*~
*.apk
*.zip
*.cache
*.hg
*.deb
debian/*
*.rpm
redhat/*
*.pyc
.mercury_history
.profile
build/*
dist/*
drozer.egg-info
log/*.log
obj
src/drozer/modules/**/*.class
src/drozer/modules/**/*.apk
src/drozer.egg-info
mercury.log
deb_dist/*
*.tar.gz
.vs/
.idea/drozer.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
